<!-- Remove the container if you want to extend the Footer to full width. -->
<div id="footer" class="mt-5">
  <footer class="text-center text-lg-start text-white" style="background-color: #1c2331">
    <%if(empresa != undefined){%>
      <section class="d-flex justify-content-between p-4 bg-primary">
        <div class="me-5">
          <span>Siga nossas redes sociais:</span>
        </div>
        <div>
          <%if(empresa.facebook != '' && empresa.facebook != undefined){%>
            <a href="<%=empresa.facebook%>" target="_blank" class="me-4">
              <img src="/img/facebook.png" height="30px" width="30px" alt="">
            </a>
          <%}%>
          <%if(empresa.ig != '' && empresa.ig != undefined){%>
            <a href="https://www.instagram.com/accounts/login/?next=/<%=empresa.ig%>/" target="_blank"class="me-4">
              <img src="/img/instagram.png" height="30px" width="30px" alt="">
            </a>
          <%}%>
        </div>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links  -->
      <section class="">
        <div class="container text-center text-md-start mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase fw-bold" id="empresaFooter"><%=empresa.nome%></h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p id="descricaoFooter">
                <%=empresa.descricao%>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Cortes</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="/#agendamentos" class="text-white">Ver Todos</a>
              </p>
              <%cortes.forEach((corte,index) =>{%>
                <%if(index < 3){%>
                  <p>
                    <a href="/#agendamentos" class="text-white" id="categoriaFooter0"><%=corte.nome%></a>
                  </p>
                <%}%>
              <%})%>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Links do Usuario</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p>
                <a href="/user/editar" class="text-white">Sua conta</a>
              </p>
              <p>
                <a href="/user/login" class="text-white">Login</a>
              </p>
              <p>
                <a href="/user/historico" class="text-white">Historico</a>
              </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase fw-bold">Contatos</h6>
              <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
              <p id="enderecoFooter"><%=empresa.endereco%></p>
              <p id="emailFooter"><%=empresa.email%></p>
              <p id="celularFooter">+55 <%=empresa.whats%></p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
      </section>
    <%}%>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2021 Copyright:
      <a class="text-white" href="/">Revon.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</div>