<%-include ("./partials/head.ejs")%>

<style>
    .personal-figure {
    width: 30px;
    height: 30px;
  }
  .personal-avatar {
    width: 30px;
    height: 30px;
  }
</style>
<%-include ("./partials/nav.ejs")%>
<main>
    <div class="container">
        <div class="card mt-4">
            <div class="bg-dark text-white card-header">
                <h4 class="my-2">Selecione um de nossos Barbers</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="input-group">
                        <input class="me-2" type="radio" onclick="listarHorarios()" name="barber" <%=(barberId == undefined || barberId == 0)?'checked':''%> value="0" id="examplradio1">
                        <div class="personal-image">
                            <label class="label">
                                <figure class="personal-figure">
                                    <img src="/img/user.jpg" id="foto" class="personal-avatar"width="40px" alt="">
                                </figure>
                            </label>
                        </div>
                        <span class="ms-2 px-1">
                            <label class="fw-bold">Todos</label><br>
                            <label for="" class="text-muted"></label>
                        </span>
                        </div>
                    </div>
                    <%barbers.forEach(barber =>{%>
                        <div class="col-sm-6 col-md-4">
                            <div class="input-group">
                                <input class="me-2" type="radio" onclick="listarHorarios()" name="barber" <%=(barberId != undefined && barberId == barber.id)?'checked':''%> value="<%=barber.id%>" id="examplradio1">
                                <div class="personal-image">
                                    <label class="label">
                                        <figure class="personal-figure">
                                            <img src="<%=barber.foto%>" id="foto" class="personal-avatar"width="40px" alt="">
                                        </figure>
                                    </label>
                                </div>
                                
                                <span class="ms-2 px-1">
                                    <label class="fw-bold"><%=barber.apelido%></label><br>
                                    <label for="" class="text-muted">@<%=barber.ig%></label>
                                </span>
                            </div>
                        </div>
                    <%})%>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 mt-5">
                <label for="corte" class="form-label">Selecione um corte</label>
                <select name="corte" class="form-select form-select-lg" id="corte">
                    <option value="0"  <%=(0 == corteId)?'selected':''%>>Selecione uma modalidade de corte</option>
                    <%cortes.forEach(corte =>{%>
                        <option value="<%=corte.id%>" <%=(corte.id == corteId)?'selected':''%>><%=corte.nome%> - <%=(corte.tempo.split(':')[0] == '00')?'':`${corte.tempo.split(':')[0]} hr`%> <%=(corte.tempo.split(':')[1] == '00')?'':`${corte.tempo.split(':')[1]} min`%> - R$<%=parseFloat(corte.preco).toFixed(2)%></option>
                    <%})%>
                </select>
            </div>
        </div>
        
        <input type="hidden" name="data" id="dataSelecionada" value="<%=data%>">
        <h3 class="mt-5">Escolha uma data para realizar seu corte</h3>
        <div class="btn-toolbar justify-content-center mb-5 mt-3" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group">
                <button class="btn btn-dark" id="btnAnterior" onclick="alteraSequencia('s')"><span data-feather="arrow-left"></span></button>
                    <div class="btn-group" role="group" id="btnsGrup" aria-label="Basic radio toggle button group">
                    
                    </div>
                <button class="btn btn-dark" id="btnProximo" onclick="alteraSequencia('a')"><span data-feather="arrow-right"></span></button>
            </div>
        </div>
        <div id="rowHoras" class="row justify-content-center text-center">
            
        </div>
        
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script>

    function alteraSequencia(operador) {
        var dias = ['Seg','Ter','Qua','Qui','Sex','Sab','Dom']
        var dataSelecionada = document.getElementById("dataSelecionada")
        var data = moment(dataSelecionada.value.split(' ')[1],'DD/MM')
        if (operador == 's') {
            data = data.subtract(3,'days')
            dataSelecionada.value = (data.isSameOrBefore(moment()))?`${dias[parseInt(moment().isoWeekday())-1]} ${moment().format('DD/MM')}`
            :
            `${dias[parseInt(data.isoWeekday())-1]} ${data.format('DD/MM')}`
        }else{
            data = data.add(3,'days')
            dataSelecionada.value = (data.isSameOrBefore(moment()) || data.isAfter(moment().add(20,'day')))?`${dias[parseInt(moment().isoWeekday())-1]} ${moment().format('DD/MM')}`
            :
            `${dias[parseInt(data.isoWeekday())-1]} ${data.format('DD/MM')}`
        }
        listarHorarios()
    }

    function agendar(hora) {
        var funcionarioId = document.querySelector('input[name="barber"]:checked').value;
        var corte = document.getElementById("corte")
        var data = document.getElementById("dataSelecionada").value
        
        if (corte.value == 0) {
            corte.classList.add("is-invalid")
            corte.classList.remove("is-valid")
            return alert("Gentileza selecione uma das modalidades de corte")
        } else {
            corte.classList.add("is-valid")
            corte.classList.remove("is-invalid")

            axios.post("/api/horario/agendar",{data:data,funcionarioId:funcionarioId,corteId:corte.value,hora:hora}).then(resp =>{
                if (resp.data.erro == undefined) {
                    document.location.href = '/sucesso'
                } else {
                   
                    alert(resp.data.erro)
                    if (resp.data.erroId == 1) {
                        document.location.reload()
                    } else if (resp.data.erroId == 2) {
                        document.location = '/user/login'
                    }
                }
            })
        }
    }  

    function alteraData(data) {
        var dataSelecionada = document.getElementById("dataSelecionada").value = data
        listarHorarios()
    }

    window.addEventListener('load',listarHorarios())

    function listarHorarios() {
        var funcionarioId = document.querySelector('input[name="barber"]:checked').value;
        var dataSelecionada = document.getElementById("dataSelecionada")
        var btnAnterior = document.getElementById("btnAnterior")
        var btnProximo = document.getElementById("btnProximo")
        var btnsGrup = document.getElementById("btnsGrup")
        var rowHoras = document.getElementById("rowHoras")
        var horariosSelect = []

        rowHoras.innerHtml = `<div class="col-12"><div class="spinner-border text-primary" role="status"></div></div>`
        axios.get(`/api/horarios/listar?funcionarioId=${funcionarioId}&dataSelecionada=${dataSelecionada.value}`).then(resp =>{
            var datas = resp.data.datas
            var horariosFunc = resp.data.horariosFunc
            var horariosReservados = resp.data.horariosReservados
            //AQUIII ESQUECXENÃO AGORA É O FOREACH HORARIOS

            var inputsBtn = ``
            datas.forEach(data => {
                inputsBtn += `<input type="radio" class="btn-check" name="btnradio" onchange="alteraData(this.id)" id="${data}" autocomplete="off"  ${(data == dataSelecionada.value)?'checked':''}>
            <label class="btn btn-outline-primary" for="${data}">${data}</label>
          `
            });
            btnsGrup.innerHTML = inputsBtn
            
            var innerHoras = ``
            horariosFunc.forEach(horario =>{
                horario.horas.forEach(hora =>{
                    var reservado = horariosReservados.find(hr=> hr.hora == hora)
                    if (reservado == undefined) {
                        innerHoras += `<div class="col-3">
                <button class="btn btn-outline-success my-1"  onclick='agendar(this.value)' value="${hora}">${hora}</button>
            </div>` 
                    }
                })
            })
            rowHoras.innerHTML = innerHoras
        }).catch(err =>{
            console.log("err")
            console.log(err)
        })


    }
</script>
<%-include ("./partials/scripts.ejs")%>
