<%-include ("./partials/head.ejs")%>
  <%-include ("./partials/nav.ejs")%>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <%banners.forEach((banner,index) =>{%>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%=index%>" class="active" aria-current="true"
            aria-label="Slide <%=index%>"></button>
          <%})%>
        </div>
        <div class="carousel-inner">
          <%banners.forEach((banner,index) =>{%>
              <div class="carousel-item <%=(index == 0)?'active':''%>">
                <picture>
                    <source media="(max-width:600px)" srcset="<%=banner.fotoMobile%>">
                    <source media="(min-width:600px)" srcset="<%=banner.foto%>">
                    <img src="<%=banner.foto%>" class="bd-placeholder-img" width="100%"
                    height="100%">
                </picture>
              </div>
          <%})%>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Antes</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Depois</span>
        </button>
      </div>

      <div class="container" id="agendamentos">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <%cortes.forEach((corte,index) =>{%>
            <%if(index < 6){%>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                  <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-bolder"><%=corte.nome%></h4>
                    <p class="my-2 fw-normal"><%=corte.descricao%></p>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">R$<%=parseFloat(corte.preco).toFixed(2)%></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Tempo de duração</li>
                      <li><%=corte.tempo%></li>
                    </ul>
                    <a href="/agendamento/?corteId=<%=corte.id%>" class="w-100 btn btn-lg btn-primary">Agendar</a>
                  </div>
                </div>
              </div>
            <%}%>
          <%})%>
        </div>

        <div class="row justify-content-center my-4" id='fotos'>
          <%postagens.forEach((post,index) =>{%>
            <%if(index < 6){%>
              <div class="col-md-6">
                <%if(post.tipo == 1){%>
                  <%-post.post%>
                <%}else{%>
                  <img src="<%=post.post%>" class="img-fluid" width="100%"
                  height="100%">
                <%}%>
              </div>
            <%}%>
          <%})%>
        </div>

        

        <div class="card mt-3" id="horarios">
          <div class="card-header bg-dark text-center text-md-start text-white">
            <h1 class="mt-2">Agendamento</h1>
            <hr class="mb-4 mt-0 d-inline-block" style="width: 60px; background-color: #7c4dff; height: 2px" />
            <div class="my-3">
              <label for="data" class="form-label text-white">Informe uma data</label>
              <input type="date" id="data" class="form-control form-control-lg">
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-6 col-md-4">
                <div class="input-group">
                <input class="me-2" type="radio" name="barber" checked value="0" id="examplradio1">
                <div class="personal-image">
                    <label class="label">
                        <figure class="personal-figure">
                            <img src="/img/user.jpg" id="foto" class="personal-avatar"width="40px" alt="">
                        </figure>
                    </label>
                </div>
                <span class="ms-2 px-1">
                    <label class="fw-bold">Todos</label><br>
                    <label for="" class="text-muted"></label>
                </span>
                </div>
            </div>
            <%barbers.forEach(barber =>{%>
                <div class="col-sm-6 col-md-4">
                    <div class="input-group">
                        <input class="me-2" type="radio" name="barber" value="<%=barber.id%>" id="examplradio1">
                        <div class="personal-image">
                            <label class="label">
                                <figure class="personal-figure">
                                    <img src="<%=barber.foto%>" id="foto" class="personal-avatar"width="40px" alt="">
                                </figure>
                            </label>
                        </div>
                        
                        <span class="ms-2 px-1">
                            <label class="fw-bold"><%=barber.apelido%></label><br>
                            <label for="" class="text-muted">@<%=barber.ig%></label>
                        </span>
                    </div>
                </div>
            <%})%>
            </div>
          </div>
          <div class="card-footer bg-dark text-white">
            <button id="btnAgendar" onclick="redirect()" class="btn btn-success">Agendar</button>
          </div>
        </div>
      </div>
    </main>
    <%-include ("./partials/footer.ejs")%>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
    <script>
      function redirect(){
        var dias = ['Seg','Ter','Qua','Qui','Sex','Sab','Dom']
        var barberId = document.querySelector('input[name="barber"]:checked').value;
        var data = document.getElementById("data").value
        if (data != '') {
          var iso = moment(data,'YYYY-MM-DD')
          data = `${dias[parseInt(iso.isoWeekday())-1]} ${iso.format('DD/MM')}`

        }else{
          data = 0
        }
        document.location =  `/agendamento/?data=${data}&barberId=${barberId}`
      }
    </script>
      <%-include ("./partials/scripts.ejs")%>