<%-include ("./partials/head.ejs")%>
  <%-include ("./partials/nav.ejs")%>
    <main>
      <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <%banners.forEach((banner,index) =>{%>
          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="<%=index%>" class="active" aria-current="true"
            aria-label="Slide <%=index%>"></button>
          <%})%>
        </div>
        <div class="carousel-inner">
          <%banners.forEach((banner,index) =>{%>
              <div class="carousel-item <%=(index == 0)?'active':''%>">
                <img src="<%=banner.foto%>" class="bd-placeholder-img" width="100%"
                  height="100%">
              </div>
          <%})%>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Antes</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Depois</span>
        </button>
      </div>

      <div class="container" id="agendamentos">
        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
          <%cortes.forEach((corte,index) =>{%>
            <%if(index < 6){%>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                  <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal"><%=corte.nome%></h4>
                    <p class="text-muted my-2"><%=corte.descricao%></p>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">R$<%=parseFloat(corte.preco).toFixed(2)%></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Tempo de duração</li>
                      <li><%=corte.tempo%></li>
                    </ul>
                    <button type="button" class="w-100 btn btn-lg btn-primary">Agendar</button>
                  </div>
                </div>
              </div>
            <%}%>
          <%})%>
        </div>

        <div class="row justify-content-center my-4" id='fotos'>
          <%postagens.forEach((post,index) =>{%>
            <%if(index < 6){%>
              <div class="col-md-6">
                <%if(post.tipo == 1){%>
                  <%-post.post%>
                <%}else{%>
                  <img src="<%=post.post%>" class="img-fluid" width="100%"
                  height="100%">
                <%}%>
              </div>
            <%}%>
          <%})%>
        </div>

        

        <div class="card mt-3" id="horarios">
          <div class="card-header">
            <h1>Horarios</h1>
            <div class="form-floating mb-3">
              <input type="date" id="data" class="form-control form-control-lg">
              <label for="data">Informe uma data</label>
            </div>
            <span class="badge bg-success">Livre</span>
            <span class="badge bg-danger">Ocupado</span>
            <span class="badge bg-warning">Pausa</span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h3>Manhã</h3>
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck1">09:00</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck2">09:30</label>

                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck3">10:00</label>
              </div>

              <div class="col-12 my-2">
                <h3>Tarde</h3>
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck1">13:00</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck2">13:30</label>

                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck3">14:00</label>
              </div>

              <div class="col-12 my-2">
                <h3>Noite</h3>
                <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck1">18:00</label>

                <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck2">18:30</label>

                <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck3">19:00</label>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button class="btn btn-primary">Agendar</button>
          </div>
        </div>
      </div>
    </main>
    <%-include ("./partials/footer.ejs")%>
      <%-include ("./partials/scripts.ejs")%>