

<%-include ("../partials/head.ejs")%>
<main>
    <div class="container-fluid">
        <%if(erro){%>
            <div class="alert alert-warning d-flex align-items-center" role="alert">
                <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                <div>
                  <%=erro%>
                </div>
            </div>
        <%}%>
        <div class="text-center my-md-5 my-4">
            <span class="fs-1">Enviamos um código para seu e-mail!</span>
            <p>Codigo enviado para <%=user.email%></p>
            <input type="hidden" id="email" value="<%=user.email%>">
        </div>
        <form action="/user/codigo" method="post">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-5 col-8">
                    <label for="codigo" class="form-label">Insira o Codigo:</label>
                    <input type="text" name="codigo" id="codigo" class="form-control">
                </div>
            </div>

            

            <div class="row justify-content-center mt-4">
                <div class="col-lg-3 col-md-5 col-8">
                    <button id="btnLogar" type="submit" class="btn btn-dark form-control">Continuar</button>
                </div>
            </div>
        </form>
        <div class="text-center mt-3">
            <form action="/user/esqueceu" method="post">
                <input type="hidden" name="email" value="<%=user.email%>">
                <button type="submit" class="btn btn-outline-secondary">Enviar Codigo Novamente</button>
            </form>
        </div>
        <div class="text-center mt-3">
            <p>Lembrou sua senha? <a href="/login">Login</a></p>
        </div>
    </div>
</main>

<%-include ("../partials/scripts.ejs")%>


