<%-include ('../../partials/head.ejs')%>
    <%-include ('../../partials/navAdmin.ejs')%>
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
                class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Banners adicionar</h1>
                <%if(erro){%>
                    <div class="alert alert-warning d-flex align-items-center" role="alert">
                      <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                      <div>
                        <%=erro%>
                      </div>
                    </div>
                  <%}%>
            </div>
            <div class="container">
                <form action="/admin/banners/adicionar" method="post" method="post" class="needs-validation" id="form" novalidate>
                    <input type="hidden" name="bannerId" value="<%=(banner != undefined)?banner.id:undefined%>">
                    <h3>Banner para computadores / tablet</h3>
                    <hr>
                    <div class="banner-image">
                        <label class="label">
                            <input type="file" id="fileFoto1" onchange="toBase64B(1)" capture="user" accept="image/*"/>
                            <input type="hidden" name="imagem" id="foto1Base64" value="<%=(banner != undefined)?banner.foto:undefined%>">
                            <figure class="banner-figure">
                                <img src="<%=(banner != undefined)?banner.foto:'/img/cinza.svg'%>" class="d-block w-100 banner-avatar" width="1903px" height="512px" id="foto1">
                            </figure>
                        </label>
                        <p class="text-muted">OBS:Tamaho das imagens ideal é de 1903px / 512px
                        </p>
                    </div>

                    <h3>Banner para Celulares</h3>
                    <hr>
                    <div class="banner-image">
                        <label class="label">
                            <input type="file" id="fileFoto2" onchange="toBase64B(2)" capture="user" accept="image/*"/>
                            <input type="hidden" name="imagemMobile" id="foto2Base64" value="<%=(banner != undefined)?banner.fotoMobile:undefined%>">
                            <figure class="banner-figure">
                                <img src="<%=(banner != undefined)?banner.fotoMobile:'/img/cinza.svg'%>" class="d-block w-100 banner-avatar" width="330px" height="515px" id="foto2">
                            </figure>
                        </label>
                        <p class="text-muted">OBS:Tamaho das imagens ideal é de 330px / 512px
                        </p>
                    </div>


                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <label for="titulo" class="form-label">Insira o titulo desse banner</label>
                            <input type="text" class="form-control" value="<%=(banner != undefined)?banner.titulo:undefined%>" id="titulo" name="titulo" required>
                        </div>
                        <div class="col-md-6">
                            <label for="status" class="form-label">Status</label>
                            <select name="status" class="form-select" id="status" required>
                                <option value="true" <%=(banner != undefined && banner.status == true)?'selected':''%>>Ativo</option>
                                <option value="false"<%=(banner != undefined && banner.status == false)?'selected':''%>>Inativo</option>
                            </select>
                        </div>
                        <div class="col-6 mt-5"><button type="submit" class="btn btn-success form-control">Salvar</button></div>
                    </div>
                </form>
            </div>
        </main>
        <%-include ('../../partials/footerAdmin.ejs')%>
        <script>
            function toBase64B(valor) {
                var filesSelected = document.getElementById(`fileFoto${valor}`).files;
                if (filesSelected.length > 0) {
                    var fileToLoad = filesSelected[0];
                    var fileReader = new FileReader();
                    fileReader.onload = function (fileLoadedEvent) {
                        var srcData = fileLoadedEvent.target.result; // <--- data: base64
                        var base64 = document.getElementById(`foto${valor}Base64`).value = srcData
                        var foto = document.getElementById(`foto${valor}`).src = srcData
                    }
                    fileReader.readAsDataURL(fileToLoad);
                }
            }
        </script>
            <%-include ('../../partials/scripts.ejs')%>