<%-include ('../../partials/head.ejs')%>
<%-include ('../../partials/navAdmin.ejs')%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Postagens</h1>
            <%if(erro){%>
                <div class="alert alert-warning d-flex align-items-center" role="alert">
                  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                  <div>
                    <%=erro%>
                  </div>
                </div>
              <%}%>
        </div>
        <a href="/admin/postagens/adicionar" class="btn btn-primary">Adicionar</a>
        <%if(postagens.length > 0){%>
        <div class="table-responsive mt-5">
            <table class="table" id="table">
                <thead >
                    <tr class="mt-4">
                        <th class="text-center">#</th>
                        <th class="text-center">Titulo</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Data Criação</th>
                        <th class="text-center">Ação</th>
                    </tr>
                </thead>
                <tbody>
                    <%postagens.forEach(post =>{%>
                        <tr>
                            <td class="align-middle text-center"><%=post.id%></td>
                            <td class="align-middle text-center"><%=post.titulo%></td>
                            <td class="align-middle text-center"><%=(post.status == true)?'Ativo':'Inativo'%></td>
                            <td class="align-middle text-center"><%=post.dataCri%></td>
                            <td class="align-middle text-center"><a href="/admin/postagens/adicionar?postId=<%=post.id%>" class="btn btn-success">Editar</a></td>
                        </tr>
                    <%})%>
                </tbody>
            </table>
        </div>
        <%}%>
    </main>
<%-include ('../../partials/footerAdmin.ejs')%>
<%-include ('../../partials/scripts.ejs')%>
