<%-include ('../../partials/head.ejs')%>
<%-include ('../../partials/navAdmin.ejs')%>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Reservas</h1>
      </div>
      <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-12">
                <label for="barber" class="form-label">Barber</label>
                <select class="form-select form-select-lg mb-3" id="barber" onchange="redirect()">
                  <option value="0" <%=(barber != undefined)?'':'selected'%> >Selecione um dos funcionarios</option>
                  <%if(funcionarios.length > 0){%>
                      <%funcionarios.forEach(funcionario =>{%>
                          <option value="<%=funcionario.id%>" <%=(barber != undefined && barber.id == funcionario.id)?'selected':''%>><%=funcionario.apelido%></option>
                      <%})%>
                  <%}else{%>
                      <option value="0">GENTILEZA CADASTRAR UM FUNCIONARIO</option>
                  <%}%>
                </select>
            </div>
            <ul class="nav nav-pills flex-column flex-sm-row mb-5">
              <li class="nav-item mx-2">
                <input type="radio" onchange="redirect()" name="filtro" <%=(filtro == 0 || filtro == undefined)?'checked':''%> value="0" class="form-check-input" id="filtro0">
                <label class="form-check-label" for="filtro0">Pendentes</label>
              </li>
              <li class="nav-item mx-2">
                <input type="radio" onchange="redirect()" name="filtro" <%=(filtro == 1)?'checked':''%> value="1" class="form-check-input" id="filtro1">
                <label class="form-check-label" for="filtro0">Todos</label>
              </li>
              <li class="nav-item mx-2">
                <input type="radio" onchange="redirect()" name="filtro" <%=(filtro == 2)?'checked':''%> value="2" class="form-check-input" id="filtro2">
                <label class="form-check-label" for="filtro0">Finalizados</label>
              </li>
              <li class="nav-item mx-2">
                <input type="radio" onchange="redirect()" name="filtro" <%=(filtro == 3)?'checked':''%> value="3" class="form-check-input" id="filtro3">
                <label class="form-check-label" for="filtro0">Administrativos</label>
              </li>
              <li class="nav-item mx-2">
                <input type="checkbox" onchange="redirect()" <%=(hoje == true)?'checked':''%> value="true" class="form-check-input" id="hoje">
                <label class="form-check-label" for="hoje">Somente Hoje</label>
              </li>
            </ul>
          </div>

          <%if(reservas != undefined){%>
            <div class="table-responsive">
              <table id="rtable" class="table ty-5">
                  <thead>
                      <tr class="text-center">
                          <th>#</th>
                          <th>Usuario</th>
                          <th>Corte</th>
                          <th>Data Reservada</th>
                          <th>Status</th>
                          <th>Data Solicitação</th>
                          <th>Ação</th>
                      </tr>
                  </thead>
                  <tbody>
                    <%reservas.forEach(reserva =>{%>
                      <tr class="text-center">
                        <th><%=reserva.id%></th>
                        <th><%=reserva.user%></th>
                        <th><%=reserva.corte%></th>
                        <th><%=reserva.data%> <%=reserva.hora%></th>
                        <th class="bg-<%=(reserva.status == true)?"success":"danger"%> text-white"><%=(reserva.status == true)?"Pendente":"Finalizado"%></th>
                        <th><%=reserva.dataCri%></th>
                        
                        <th><%-(reserva.status == true)?`<button onclick="cancelarReserva(${reserva.id})" class="btn btn-danger text-white">Cancelar</button>`:'-'%></th>
                      </tr>
                    <%})%>
                  </tbody>
              </table>
            </div>
          <%}%>
    </div>
    </main>
<%-include ('../../partials/footerAdmin.ejs')%>
<script>
  function redirect() {
    var barber = document.getElementById("barber").value
    var filtro = document.querySelector('input[name="filtro"]:checked').value;
    var hoje = document.getElementById("hoje").checked
    
    if (barber != 0) {
      document.location = `/admin/reservas/?barberId=${barber}&filtro=${filtro}&hoje=${hoje}`
    }
  }

  function cancelarReserva(reservaId) {
  if (confirm("Deseja realmente cancelar essa reserva?")) {
      if (reservaId != undefined) {
          axios.post('/api/reserva/cancelar',{reservaId:reservaId}).then(resp =>{
              if (resp.data.erro == undefined) {
                  alert(resp.data.resp)
                  document.location.reload()
              } else {
                  alert(resp.data.erro)
                  document.location.reload()
              }
          })
      }else{
          document.location.reload()
      }
  }  
}
</script>

<script>
  $(document).ready( function () {
    $('#rtable').DataTable({
        "info": false,
        "order": [[ 4, "desc" ],[ 3, "asc" ],[ 5, "desc" ]]

    });
  });
</script>


<%-include ('../../partials/scripts.ejs')%>
